<div class="container" dir="rtl" >
       
                        
  <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">
  
    <h1  dir="rtl"> ممول المنصة </h1>
    <center>
  <img src="/images/1613563405018.png" height="180" width="190">   
  <img src="/images/1637839764176.png" height="200" width="180">
  <img src="/images/logo Hanns 2.0.png" height="150" width="250">
  <img src="/images/LOGO LTC 2.0.png" height="200" width="270">
  <img src="/images/nebeur.png" height="180" width="180">
    </center>
  
  
  <!-- Footer Links -->
  <div class="container text text-md-left"  style="background: rgb(253, 187, 45);background: linear-gradient(0deg, rgba(253, 187, 45, 0.9346113445378151) 11%, rgba(34, 193, 195, 1) 79%);">

    <!-- Grid row -->
    <div class="row">
  

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">E-municipality</h5>
        <h6>
        <p>
          منصة البلدية الرقمية هي منصة الكترونية أسست من أجل تسهيل التواصل الرقمي بين البلديات و المواطنين.  <br>اكتشف خدمات المنصة الآن
        </p>
        </h6>
        <ul class="list-unstyled list-inline text-center py-2">
   
    <li class="list-inline-item">
      <h5 class="mb-1">هل انت غير مسجل بالمنصة ؟</h5>
      <h6>
      إضغط على الزر لتسجيل
      </h6> 
    </li>
    <li class="list-inline-item">
      <a href="{{ path('account_register') }}" class="btn btn-danger btn-rounded">! إنشاء حساب</a>
    </li>
    
  </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"> تواصل مع CD²   </h5>

        <ul class="list-unstyled">
          
          <li>
            <i class="fa-solid fa-envelopes-bulk"></i>
            zeki_6502@yahoo.fr
            marwanouasria27@gmail.com 
          
            
          

            </li>
            <li>     
              <i class="fa-solid fa-phone"></i>  
              56837031
              
            </li>
            <li>   
              <i class="fa-solid fa-location-pin"></i>  
              cité la gare, immeuble le bon choix 2-éme étage-Kef 7100
              
              
            </li>
          <li>
             <!-- Social buttons -->
             <ul class="list-unstyled list-inline text-center">
              <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/CD2.org">
                  <i class="bi bi-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1" href="https://cd2.org/">
                  <i class="bi bi-globe"></i>
                </a>
              </li>
              
              
            </ul>
          <!-- Social buttons -->
            </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">تواصل مع البلدية           </h5>

       
          <ul class="list-unstyled">
          
          
            <li> <i class="fa-solid fa-envelopes-bulk"></i>
            </li>
            <li>   <i class="fa-solid fa-phone"></i>     
              78246098         
              
            </li>
            <li>         
              <i class="fa-solid fa-location-pin"></i>  
            نهج صليحة 7110 نبر  
              
            </li>
            <li>
               <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                  <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/CommuneNebeur" >
                      <i class="bi bi-facebook"></i>

                      
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1" href="http://www.commune-nebeur.gov.tn">
                      <i class="bi bi-globe"></i>
                    </a>
                  </li>
                  
                  
                </ul>
              <!-- Social buttons -->
            </li>
          </ul>
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">الصفحات</h5>

        <ul class="list-unstyled">
          <h6>
          <li><a href="{{path('home')}}"> الرئيسية</a></li>
          <li><a href="{{path('commune')}}">بلدية نبر</a></li>
          <li><a href="{{ path('ad_index')}}">التشكيات</a></li>
          <li><a  href="{{path('partenaire')}}"> المساهمون في المنصة</a> </li>
          <li><a href="{{ path('account_login')}}">تسجيل الدخول</a></li>
           </h6>               
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



  <!-- Call to action -->
  
  <!-- Call to action -->

  

 

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="#"> MetiorIT: Nadhir HAMDI</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

   </div>                 

                   