{% set url = path('ads_show',{'id': ad.id }) %}
    <div class="col-md-4">
            <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        التشكي رقم   {{ ad.id }}
                    </div>
                        <a href="{{ url }}">
                            <img src="/images/image-ads/{{ ad.getImageName }}" alt="Image de chkaya"
                            style="height: 200px; width:100%; display: block">
                           
                        </a>
 
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ url }}">
                            {{ad.getLieu}}
                            </a>
                        </h4>
                        <p class="card-text">
                            {{ad.getContent}}
                        </p>
                        <a href="{{ url }}" class="btn btn-secondary"> أظهر المزيد</a>
                    </div>
            </div>
            
    </div>