{% extends 'base.html.twig' %}
{% block title %} إضافة مشكل {% endblock %}
    {% form_theme form _self %}
    {% block body %}
        <div class="container" dir="rtl">
            <h1 class="my-5">إضافة مشكل</h1>
            {{ form_start(form) }}
            <div class="row">
                <div class="alert alert-light">
                <div class="col">
                {{ form_row(form.type) }}
                {{ form_row(form.lieu) }}
                {{ form_row(form.cite) }}
                {{ form_row(form.content) }}
                {{ form_row(form.solution) }}
                {{ form_row(form.imagefile) }}
                {{ form_row(form._token) }}
                </div>
                </div>
                 
            </div>
            

               

            
            <button type="submit" class="btn btn-primary"> إضافة مشكل</button>
            {{ form_end(form,{'render_rest': false})}}
        </div>
    {% endblock %}


    


   